.overlay1 {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
}
.overlay2 {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
}
.details {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
